.contenedor .padre,
.contenedor .hijo {
    margin: 1rem 0rem;
    border-radius: 1rem;
    padding: 1rem;
}

.contenedor .padre {
    background-color: rgb(228, 124, 86);
}

.contenedor .hijo {
    background-color: rgb(60, 207, 171);
}

.contenedor .withBorder {
    border: 1px solid #000;
    filter: blur(5px);
}